<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../bower_components/paper-input/paper-input.html">

<dom-module id="ayd-form">
  <template>
    <paper-dialog opened="{{opened}}">
      <h2>[[title]]</h2>
      <div>
        <slot></slot>
      </div>
      <div class="buttons">
        <paper-button dialog-dismiss>Cancel</paper-button>
        <paper-button dialog-confirm autofocus on-tap="_onSaveTapped">Save</paper-button>
      </div>
    </paper-dialog>
  </template>
  <script>
    class AydForm extends Polymer.Element {
      static get is() {
        return 'ayd-form';
      }

      static get properties() {
        return {
          opened: {
            type: Boolean,
            value: false,
            notify: true,
          },
          title: {
            type: String,
            value: '',
          },
        };
      }

      _onSaveTapped() {
        this.dispatchEvent(new CustomEvent('save'));
      }
    }
    window.customElements.define(AydForm.is, AydForm);
  </script>
</dom-module>
